# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# VS Code
.vscode/

# Docker
*.db
*.sqlite3
docker-compose.override.yml

# Test & Coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Logs
*.log

# Misc
.DS_Store
